<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="icon" th:href="@{/favicon.png}" />

<link rel="stylesheet"
	th:href="@{/vendor/materialize/css/materialize.css}" />
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons" />
<link rel="stylesheet" th:href="@{/css/app.css}" />

<title>Food Inventory</title>
</head>
<body>
	<div class="navbar-fixed">
		<nav>
			<div class="container">
				<a th:href="@{/}" class="brand-logo">Food Inventory</a> <a href="#"
					data-activates="mobile-nav" class="button-collapse right"><i
					class="material-icons">menu</i></a>
				<ul class="right hide-on-med-and-down">
					<li><a th:href="@{/}">Home</a></li>
					<li class="active"><a th:href="@{/food}">Food</a></li>
				</ul>
				<ul id="mobile-nav" class="side-nav">
					<li><a th:href="@{/}">Home</a></li>
					<li class="active"><a th:href="@{/food}">Food</a></li>
				</ul>
			</div>
		</nav>
	</div>

	<div id="formContainer" class="container margin-top-20 margin-bottom-20">

		<form class="grid-form" action="#" th:action="@{/food}" method="post" th:object="${food}">
		
			<label th:if="*{id} != 0">Id</label>
			<input id="idValue" th:if="*{id} != 0" th:field="*{id}" readonly />
			
			<label>Name</label>
			<input id="nameValue" th:field="*{name}" />

			<button class="btn right" name="btn_submit" type="submit">Save</button>
		</form>
	</div>


	<script th:src="@{/vendor/jquery/jquery-1.11.3.js}"></script>
	<script th:src="@{/vendor/materialize/js/materialize.js}"></script>
	<script th:src="@{/app.js}"></script>

</body>
</html>