<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="icon" th:href="@{/favicon.png}" />

<link rel="stylesheet"
	th:href="@{/vendor/materialize/css/materialize.css}" />
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons" />
<link rel="stylesheet" th:href="@{/css/app.css}" />

<title>Food Inventory</title>
</head>
<body>
	<div class="navbar-fixed">
		<nav>
			<div class="container">
				<a th:href="@{/}" class="brand-logo">Food Inventory</a> <a href="#"
					data-activates="mobile-nav" class="button-collapse right"><i
					class="material-icons">menu</i></a>
				<ul class="right hide-on-med-and-down">
					<li><a th:href="@{/}">Home</a></li>
					<li class="active"><a th:href="@{/food}">Food</a></li>
				</ul>
				<ul id="mobile-nav" class="side-nav">
					<li><a th:href="@{/}">Home</a></li>
					<li class="active"><a th:href="@{/food}">Food</a></li>
				</ul>
			</div>
		</nav>
	</div>

	<div class="container">
		<div class="row">
			<h3 th:if="${foodList.isEmpty()}" class="align-center">NO FOOD
				AVAILABLE</h3>
			<table id="foodTable" th:if="${!foodList.isEmpty()}">
				<tr>
					<th>Id</th>
					<th>Name</th>
				</tr>
				<tr th:id="${food.id}" th:name="${food.name}"  th:each="food : ${foodList}">
					<td th:id="${food.id}" th:text="${food.id}"></td>
					<td th:text="${food.name}"></td>
					<td><a th:id="'edit_link_' + ${food.id}" name="edit_link" th:href="@{/food/edit/{id}(id=${food.id})}">Edit</a></td>
					<td><a th:id="'delete_link_' + ${food.id}" name ="delete_link" th:href="@{/food/delete/{id}(id=${food.id})}">Delete</a></td>
				</tr>
			</table>
		</div>
		<a class="btn right" th:href="@{/food/new}">Create new</a>
	</div>


	<script th:src="@{/vendor/jquery/jquery-1.11.3.js}"></script>
	<script th:src="@{/vendor/materialize/js/materialize.js}"></script>
	<script th:src="@{/app.js}"></script>

</body>
</html>